<%- include('header') %>

<div class="ui grid">
  <div class="four wide column">
    <a href="/posts?author=<% user._id %>" class="avatar"
      data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
      data-content="<%= user.bio %>">
      <img src="/img/<%= user.avatar %>" alt="" class="avatar">
    </a>
  </div>

  <div class="eight wide column">
    <form action="/posts/<%= post._id %>/edit" method="POST" class="ui form segment">
      <div class="field required">
        <label for="">标题</label>
        <input type="text" name="title" value="<%= post.title %>">
      </div>
      <div class="field required">
        <label for="">内容</label>
        <textarea name="content" id="" rows="15"><%= post.content %></textarea>
      </div>
      <input type="submit" value="发布" class="ui button">
    </form>
  </div>
</div>

<%- include('footer') %>